/*
    * Project Name : EstateX - Real Estate Website
    * Designed & Coded by : 'Gulshan Songara'
*/

/*
    --====== INDEX ======--

    01) Fonts
    02) Global Variables
    03) CSS Reset
    04) Common Styles
    05) Preloader
    06) Header
    07) Sidebar
    08) Hero
    09) Search Box
    10) Property
    11) Services
    12) City
    13) Testimonials
    14) Partners
    15) Blog
    16) Subscribe
    17) Back-to-Top Btn
    18) Account Modal
    19) Footer
    20) Listing

*/

@mixin flexbox($justify) {
    display: flex;
    justify-content: $justify;
    align-items: center;
}

@mixin bg-img($img) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), $img;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

@mixin bordered($width, $color) {
    border: $width solid $color;
}

@mixin img-fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*--====== 01) Fonts ======--*/
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf);
}
/*--====== /Fonts Ends ======--*/

/*--====== 02) Global Variables ======--*/
:root {
    --main-font: 'Roboto', sans-serif;

    --main-color: #0a62c7;
    --main-color-2: #0B6EDF;
    --main-color-3: #007aff;

    --bg-white: #F8F9FA;
    --bg-white-2: #f0f0f0;

    --text-gray: #343a40;
    --text-white: #a9afc3;
    --text-white-2: #ecfafb;

    --foot-color: #0e152c;

    --google-color: #db3236;
    --fb-color: #4267B2;

    --header-shadow: 0 10px 20px -2px rgba(0, 106, 194, .5);

    --card-shadow: 0 0 0 10px rgba(255, 255, 255, .5), 1px 3px 8px rgba(0, 0, 0, 0.5);
}
/*--====== /Global Variables Ends ======--*/

/*--====== 03) CSS Reset ======--*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
    overflow-x: hidden;
}

body {
    font-family: var(--main-font);
    overflow-x: hidden;
}

button {
    cursor: pointer;
}

button,
input,
textarea,
select {
    border: none;
    outline: none;
    background: none;
    font-family: var(--main-font);
}

a,
a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

img,
svg,
i {
    vertical-align: middle;
    user-select: none;
}

ul,
ol {
    list-style: none;
}
/*--====== /CSS Reset Ends ======--*/

/*--====== 04) Common Styles ======--*/
.overflow_hide {
    overflow: hidden;
}

.container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.wrapper {
    display: grid;
}

.card {
    background-color: var(--bg-white);
    box-shadow: var(--card-shadow);
}

.section {
    padding-top: 5rem;
    padding-bottom: 4rem;
}

.swiper {
    user-select: none;
    padding: 2rem 1rem 4rem;
}

.swiper-pagination-bullet {
    width: .62rem;
    height: .62rem;
}

.swiper-pagination-bullet-active {
    background-color: var(--main-color);
}

/* Sticky & Mobile Navbar */
.sticky_navbar,
.mob_navbar.sticked {
    background-color: var(--main-color);
    box-shadow: var(--header-shadow);
}

/* All Section's Title */
.title {
    text-align: center;
    margin-bottom: 4.75rem;

    h2 {
        margin-bottom: .4rem;
        font-size: 1.8rem;
        letter-spacing: .8px;
        text-transform: capitalize;
    }

    p {
        font-size: 1.125rem;
        letter-spacing: .4px;
    }

}

.bg_title {
    color: var(--text-white-2);
}

/* All Buttons with btn-class */
.btn {
    position: relative;
    z-index: 1;
    display: inline-block;
    background-color: var(--main-color);
    color: #fff;
    transition: transform .3s ease;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-color: var(--main-color-2);
        transform: scaleX(0);
        transform-origin: left;
        transition: transform .3s ease;
    }

    &:hover::after {
        transform: scaleX(1);
    }

    &:active {
        transform: scale(.95);
    }
}

/* Loading-Button */
.btn_txt {
    transition: visibility .4s ease, opacity .4s ease;
}

.btn_load.btn_loading {
    pointer-events: none;
}

.btn_load.btn_loading .btn_txt {
    visibility: hidden;
    opacity: 0;
}

.btn_loading::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 1.5rem;
    height: 1.5rem;
    margin: auto;
    @include bordered(3px, transparent);
    border-top-color: #fff;
    border-radius: 50%;
    animation: btn_spinner 1s ease infinite;
}

@keyframes btn_spinner {
    0% {
        transform: rotate(0turn);
    }

    100% {
        transform: rotate(1turn);
    }
}

/* Close-btn (Sidebar & Account Modal) */
.close_btn {
    position: absolute;
    width: 1.8rem;
    height: 1.8rem;
    cursor: pointer;
    overflow: hidden;
    @include flexbox(center);
    flex-direction: column;

    span {
        width: 90%;
        height: 2.4px;
        background-color: var(--text-gray);
        margin: -1.2px auto;
        opacity: .5;
        transition: opacity .3s ease;

        &:first-child {
            transform: rotate(45deg);
        }

        &:last-child {
            transform: rotate(-45deg);
        }
    }

    &:hover span {
        opacity: 1;
    }
}

/* Property-img & Blog-img */
.property_img,
.blog_img {
    position: relative;
    min-height: 200px;
    overflow: hidden;

    a {
        position: relative;
        display: block;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to bottom, transparent 40%, rgba(0, 0, 0, 0.6) 80%);
        }

        img {
            @include img-fit;
            filter: brightness(95%);
            transition: transform .5s ease;
        }

        &:hover img {
            transform: scale(1.1);
        }
    }
}
/*--====== /Common Styles Ends ======--*/

/*--====== 05) Preloader ======--*/
#preloader {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #fff;
    user-select: none;
    display: grid;
    place-items: center;
    transition: visibility .5s ease, opacity .5s ease, transform .8s ease;
}

#preloader.stop {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
}

.loader {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    box-shadow: 0px 8px 8px var(--main-color);
    animation: spin 1.3s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    color: var(--main-color);
    animation: text 1s linear infinite alternate;
}

@keyframes text {
    0% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}
/*--====== /Preloader Ends ======--*/

/*--====== 06) Header Section ======--*/
#header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}

.navbar,
.navlinks ul {
    @include flexbox(space-between);
}

.navbar li a {
    color: #ddd;

    &:hover {
        color: #fff;
    }

}

.nav_top {
    padding: .6rem 0;
}

.nav_logo h4 {
    font-size: 1.3rem;

    a {
        color: #fff;
        letter-spacing: .5px;
        text-shadow: 0 3px 6px rgba(0, 0, 0, .5);
    }
}

.nav_actions {
    ul {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    li a {
        font-size: .95rem;
        display: flex;
        align-items: center;
        gap: .3rem;
    }

    .post_btn {
        padding: .4rem .6rem;
    }

}

.nav_bottom {
    padding: 1rem 0;
    border-top: 1px dashed #888;
}

.navlinks {
    width: 100%;

    a {
        text-transform: uppercase;
        font-size: .8rem;
        letter-spacing: 2px;
    }
}

/* Sticky-Navbar */
.sticky_navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    padding: 1rem 0;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: all .3s ease-in-out;
}

.sticky_navbar.sticked {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.sticky_search_form {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: .2rem .9rem;
    background-color: var(--bg-white);
}

.sticky_search_field {

    input {
        padding: .5rem;
        background-color: var(--bg-white-2);
    }
}

.sticky_search_btn {
    color: var(--text-gray);
    font-size: 1.2rem;
    margin-left: .5rem;

    &:hover {
        color: var(--main-color-3);
    }
}

.sticky_actions {
    
    ul {
        gap: 1.6rem;
    }
    
    .post_btn {
        background-color: var(--bg-white);
        color: #000;
        box-shadow: 1px 2px 4px #222;
    }

}

/* Mobile-Navbar */
.mob_navbar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 1rem 0;
}
/*--====== /Header Ends ======--*/

/*--====== 07) Sidebar Section ======--*/
#sidebar {
    display: none; /* to hide on large screens */
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1030;
    width: 19rem;
    height: 100%;
    padding: 2rem;
    background-color: var(--bg-white);
    box-shadow: 0 10px 20px -4px #000;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: opacity .3s ease, visibility .3s ease, transform .3s ease;
}

#sidebar.show {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

.sidebar_content {
    padding: 2.8rem 0 2.2rem;
    pointer-events: none; /* so that the Sidebar, Not close on clicking on it */
}

.sidebar_content li a {
    color: #000;
    pointer-events: all; /* so that all <a> inside sidebar_content are clickable */
}

.sidebar_head {

    li:not(li:last-child) {
        margin-bottom: 2rem;
    }

    .post_btn {
        padding: .7rem 1.5rem;
        color: #fff;
    }
}

.sidebar_main {
    border-top: 1px dashed var(--text-gray);
    border-bottom: 1px dashed var(--text-gray);
    padding: 2rem 0;
}

.side_navlinks {

    li:not(li:last-child) {
        margin-bottom: 2.5rem; 
    }

    li a {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: .9rem;
    }

}

.sidebar_foot {

    li {
        margin-bottom: 2rem;
    }

    .side_copyright {
        margin-top: 3rem;
        color: var(--text-gray);
    }
}

.sidebar_btn {
    width: 1.75rem;
    height: 1.3rem;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    span {
        pointer-events: none; /* so that span not overlap the sidebar_btn */
        width: 100%;
        height: 2.4px;
        background-color: #ddd;
    }

}

.sidebar_close_btn {
    top: 5px;
    left: 5px;
}
/*--====== /Sidebar Ends ======--*/

/*--====== 08) Hero Section ======--*/
#hero {
    min-height: 80vh;
    @include bg-img(url(../img/hero.jpg));
    background-position: top;
    display: grid;
    place-items: center;
}

.hero_content {
    padding: 1rem;
    margin-top: 5%;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px #000;

    h1 {
        font-size: 3rem;
        letter-spacing: 2px;
        text-transform: capitalize;
    }

    h3 {
        font-size: 1.2rem;
        font-weight: lighter;
        margin: 1.2rem 0 2rem;
    }
}

.hero_btn_wrapper {
    position: relative;
    width: 50%;
    margin: 0 auto;
    filter: drop-shadow(0px 4px 6px rgba(0,0,0,0.8));
    display: flex;
    gap: 1.8rem;

    .hero_btn {
        flex: 50%;
        padding: .8rem;
        font-size: 1rem;
        letter-spacing: .4px;
        text-transform: uppercase;
        user-select: none;
        transition: background-color .4s ease-in-out, color .4s ease-in-out;  
    }

    .buy_btn {
        background-color: var(--main-color);
        color: var(--text-white-2);
    }

    .rent_btn {
        background-color: var(--bg-white);
        color: #000;
    }

    .point {
        width: 0;
        height: 0;
        position: absolute;
        bottom: -9px;
        left: 22.5%;
        transform: translateX(-50%);
        border-top: 10px solid var(--main-color);
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        transition: left .4s ease-in-out;
    }

    .point.clicked {
        left: 77%;
        cursor: default;
    }

    .point.clicked ~ .buy_btn {
        background-color: var(--bg-white);
        color: #000;
    }

    .point.clicked ~ .rent_btn {
        background-color: var(--main-color);
        color: var(--text-white-2);
    }

}
/*--====== /Hero Ends ======--*/

/*--====== 09) Search Box ======--*/
#searchbox {
    position: relative;
    width: 80%;
    margin: -40px auto 30px;
    padding: 2rem;
}

.searchform {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, .8fr) .5fr;
    gap: 2rem;
}

.select_box .nice-select {
    width: 100%;
    height: 100%;
    background-color: var(--bg-white-2);
    padding-left: 1.1rem;
    border-radius: 0;
    font-size: .875rem;

    .current {
        display: flex;
        align-items: center;
        gap: .4rem;
    
        i {
            color: var(--text-gray);
        }
    }
}

.search_btn {
    font-size: .875rem;
}
/*--====== /Search Box Ends ======--*/

/*--====== 10) Property Section ======--*/
.property_img .badge {
    position: absolute;
    top: .7rem;
    right: .7rem;
    padding: .2rem .5rem;
    font-size: .8rem;
    word-spacing: 1.5px;
    text-transform: capitalize;
    background-color: var(--main-color);
    color: var(--text-white-2);
}

.property_details {
    position: relative;
    max-width: 350px;
    margin: -60px auto auto;
    padding: 1.5rem .7rem;
    text-align: center;
    background-color: var(--bg-white);
    box-shadow: 0 0 0 8px rgba(255, 255, 255, .5), 0 8px 8px -6px rgba(0, 0, 0, 0.5);
}

.property_info {
    margin: .8rem 0 1.2rem;
    letter-spacing: .6px;

    h3 {
        font-size: 1.3rem;
        text-transform: capitalize;
        margin-bottom: .4rem;

        a {
            color: var(--main-color);
            transition: color .2s;

            &:hover {
                color: var(--main-color-3);
            }
        }
    }

    p {
        font-size: .9rem;
    }
}
/*--====== /Property Ends ======--*/

/*--====== 11) Services Section ======--*/
.services_bg {
    height: 300px;
    @include bg-img(url(../img/banner.jpg));
    background-position: top;
    display: grid;
    place-items: center;
}

.services_wrapper {
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-top: -60px;
}

.services_card {
    padding: 1.5rem;
}

.services_img {
    width: 5.2rem;
    height: 5.2rem;
    margin: 0 auto;
    overflow: hidden;
}

.services_txt {
    text-align: center;

    h5 {
        font-size: 1rem;
        font-weight: 600;
        text-transform: capitalize;
        word-spacing: 2px;
        margin-top: 1rem;
        margin-bottom: .6rem;
    }

    p {
        font-size: .875rem;
        color: var(--text-gray)
    }
}
/*--====== /Services Ends ======--*/

/*--====== 12) City Section ======--*/
.city_wrapper {
    grid-template-rows: repeat(3, 200px);
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
}

.city_card {
    position: relative;
    overflow: hidden;

    img {
        @include img-fit;
        filter: brightness(70%);
        transition: transform .3s linear;
    }

    &:hover img {
        transform: scale(1.1);
    }

}

.city_txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-white-2);
    text-align: center;
    letter-spacing: .8px;
    text-shadow: 0 2px 3px #000;

    span {
        color: inherit;
        font-size: 1.2rem;
        font-weight: 600;
        text-transform: uppercase;
    }
}

.city_item_1,
.city_item_5 {
    grid-row: span 2;
}

.city_item_3,
.city_item_4,
.city_item_6 {
    grid-column: span 2;
}
/*--====== /City Ends ======--*/

/*--====== 13) Testimonials Section ======--*/
.testi_bg {
    @extend .services_bg;
}

.testi_swiper {
    margin-top: -85px;

    .swiper-slide {
        overflow: hidden;
        padding: 1.5rem;
    }
}

.testi_details {
    @include flexbox(space-between);
}

.testi_info {
    @include flexbox(center);
    gap: 1rem;
}

.testi_img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;

    img {
        @include img-fit;
    }
}

.testi_bio {
    letter-spacing: .6px;

    span {
        font-weight: bold;
    }

}

.testi_ratings span {
    font-size: 1.1rem;
    color: goldenrod;
}

.testi_review {
    margin-top: 1.3rem;
    color: var(--text-gray);
    font-size: .98rem;
    line-height: 1.5;
}
/*--====== /Testimonials Ends ======--*/

/*--====== 14) Partners Section ======--*/
.partners_wrapper {
    grid-template-columns: repeat(6, 1fr);
    column-gap: .5rem;
    justify-items: center;
}
/*--====== /Partners Ends ======--*/

/*--====== 15) Blog Section ======--*/
.blog_details {
    position: relative;
    max-width: 350px;
    margin: -60px auto 0;
    padding: 1.5rem;
    color: var(--text-gray);

    a {
        transition: color .2s;

        &:hover {
            color: var(--main-color-3);
        }
    }
}

.blog_meta {
    @include flexbox(space-between);

    a,
    span {
        color: inherit;
        font-size: .9rem;
    }
}

.author_img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: .6rem;
}

.blog_title {
    margin: 1.4rem 0;
    padding-bottom: 1rem;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.3);

    a {
        font-size: 1.2rem;
        color: var(--main-color);
        letter-spacing: .3px;
    }
}

.blog_date i {
    vertical-align: unset;
}

.read_btn {
    font-weight: 600;
}
/*--====== /Blog Ends ======--*/

/*--====== 16) Subscribe Section ======--*/
#subs {
    margin-top: 1rem;
}

.subs_wrapper {
    position: relative;
    background-color: var(--bg-white);
    box-shadow: -4px -4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 0 auto -50px;
    padding: 2rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 3rem;

    h3 {
        font-size: 1.5rem;
    }
}

.subs_box {
    position: relative;
    width: 100%;
    overflow: hidden;

    .subs_mail,
    .subs_btn {
        padding: .8rem;
        font-size: 1rem;
    }

    .subs_mail {
        width: 100%;
        background-color: var(--bg-white-2);
    }

    .subs_btn {
        position: absolute;
        right: 0;
    }
}
/*--====== /Subscribe Ends ======--*/

/*--====== 17) Back-to-Top Btn ======--*/
#back_top {
    background-color: var(--main-color);
    position: fixed;
    bottom: 3vh;
    right: 2vw;
    z-index: 777;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    overflow: hidden;
    display: grid;
    place-items: center;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: translateY(200%);
    transition: opacity .5s ease, visibility .3s ease, transform .3s ease;

    svg {
        width: 55%;
        height: 55%;
        fill: var(--text-white-2);
        transition: transform .2s linear;
    }
}

#back_top.pop {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

#back_top:hover svg {
    transform: translateY(-3px);
}

#back_top:active {
    transform: scale(.75);
}
/*--====== /Back-to-Top Ends ======--*/

/*--====== 18) Account Modal ======--*/
#account {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8888;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s ease, visibility .3s ease;
}

#account.visible {
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
}

#account .container {
    margin: 1.75rem auto;
    min-height: calc(100% - 3.5rem);
    @include flexbox(center);
}

.account_swiper {
    max-width: 420px;
    padding: 2rem;
    background-color: var(--bg-white);
    box-shadow: 4px 8px 15px rgba(0, 0, 0, 0.5);
    transform: translateY(-50px);
    transition: transform .5s ease;

    .swiper-button-next::after,
    .swiper-button-prev::after {
        content: "";
        font-size: unset;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: unset;
        position: unset;
        width: 0;
        height: 0;
        margin-top: 0;
        font-weight: 600;
        letter-spacing: .3px;
    }

    .swiper-button-next:hover,
    .swiper-button-prev:hover {
        color: var(--main-color);
    }
}

#account.visible .account_swiper {
    transform: translateY(0);
}

.account_head {

    border-bottom: 1.5px solid var(--text-white);
    padding-bottom: 1.3rem;

    h3 {
        font-size: 1.5rem;
        margin-bottom: .4rem;
    }

    p {
        font-size: .95rem;
        color: var(--text-gray);
    }
}

.account_main {
    margin: 2rem 0;
}

.input_box {
    position: relative;
    background-color: var(--bg-white-2);
    overflow: hidden;

    input {
        position: relative;
        z-index: 2;
        display: block;
        width: 100%;
        padding: 1.2rem .5rem .5rem;
        font-size: 1rem;
    }

    label {
        position: absolute;
        top: 16px;
        left: 6px;
        z-index: 1;
        font-size: .875rem;
        color: #666;
        transform-origin: 0 0;
        transition: top .3s ease, transform .3s ease;
    }

    input:focus~label,
    input:valid~label {
        top: 0;
        transform: scale(.9);
    }
}

.pass_box {
    margin: 1.2rem 0;
}

.name_box {
    margin-bottom: 1.2rem;
}

.num_box {
    display: flex;
    gap: .5rem;
    margin-bottom: 1.2rem;

    select {
        background-color: var(--bg-white-2);
    }

    .input_box {
        flex-grow: 1;
    }
}

.login_actions {
    @include flexbox(space-between);

    .forgot_pass {
        font-size: .875rem;
        color: var(--text-gray);

        &:hover {
            color: var(--main-color-3);
        }
    }
}

.check_box {
    display: flex;
    align-items: center;
    gap: .3rem;
    font-size: .9rem;
}

.account_btn {
    width: 100%;
    margin-top: 2rem;
    padding: .6rem;
    font-size: 1.1rem;
}

.account_foot {

    p {
        position: relative;
        margin-bottom: 2rem;
        text-align: center;
        color: var(--text-gray);

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            width: 30%;
            height: 1.5px;
            margin: -1px auto;
            background-color: var(--text-white);
        }

        &::before {
            left: 0;
        }

        &::after {
            right: 0;
        }
    }
}

.login_options {
    @include flexbox(center);
    gap: .5rem;

    a {
        flex: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .5rem;
        transition: all .3s ease;

        i {
            font-size: 1.2rem;
            margin-right: .2rem;
        }
    }

    .google_btn {
        @include bordered(1px, var(--google-color));
        color: var(--google-color);

        &:hover {
            background-color: var(--google-color);
            color: #fff;
        }
    }

    .facebook_btn {
        @include bordered(1px, var(--fb-color));
        color: var(--fb-color);

        &:hover {
            background-color: var(--fb-color);
            color: #fff;
        }
    }
}

.account_close_btn {
    top: .6rem;
    right: .6rem;
}
/*--====== /Account Ends ======--*/

/*--====== 19) Footer Section ======--*/
#footer {
    padding-top: 7rem;
    background-color: var(--foot-color);
    color: var(--text-white-2);
}

.footer_wrapper {
    grid-template-rows: auto;
    grid-template-columns: 1fr repeat(3, .5fr);
    gap: 2rem;
}

.foot_about {

    padding-right: 2rem;

    h4 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    h6 {
        color: var(--text-white);
        font-weight: lighter;
        font-size: .9rem;
        letter-spacing: .5px;
    }

    p {
        margin: 1.4rem 0;
        font-size: 1rem;
    }

    img {
        width: 7.2rem;
        margin-right: .8rem;
        transition: box-shadow .3s ease, transform .3s ease;

        &:hover {
            box-shadow: 0 8px 16px rgba(0, 0, 0, .5);
        }

        &:active {
            transform: scale(.95);
        }
    }

}

.foot_menu {

    .menu_title {
        font-size: 1rem;
        letter-spacing: 1px;
        margin-bottom: 1.5rem;
    }

    li {
        color: var(--text-white);
        font-size: .96rem;
        margin-bottom: 1.1rem;

        a {
            color: inherit;
            transition: color .3s ease;

            &:hover {
                color: var(--text-white-2);
            }
        }
    }
}

.foot_social_links {
    p {
        color: var(--text-white-2);
        margin: 1.8rem 0 1.2rem;
        font-size: 1rem;
    }

    a {
        font-size: 1.5rem;
        margin-right: .8rem;
    }
}

.foot_copy {
    @include flexbox(space-between);
    border-top: 1px dashed #555;
    color: var(--text-white);
    margin-top: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: .9rem;
    letter-spacing: .6px;

    .creator a {
        color: var(--text-white-2);
        transition: color .3s;

        &:hover {
            color: var(--main-color-3);
        }
    }

}
/*--====== /Footer Ends ======--*/

/*--====== 20) Listing Section ======--*/
.listing_bg {
    @extend .services_bg;
    height: 28rem;

    .title {
        margin: 2rem 0;
    }
}

.breadcrumb ol {
    @include flexbox(center);

    li + li::before {
        content: '>';
        margin: 0 1rem;
    }

    li {
        color: var(--text-white);

        a {
            color: #ddd;

            &:hover {
                color: #fff;
            }
        }
    }
}

.listing_wrapper {
    place-items: center;
    margin: -60px auto 4rem;
}

#listing_form {
    position: relative;
    padding: 1rem 3rem;
}

.listing_block {
    padding-top: 3rem;
    padding-bottom: 3rem;

    &:not(.listing_block:last-child) {
        border-bottom: 1px dashed #aaa;
    }

    h5 {
        font-size: 1.1rem;
        letter-spacing: .5px;
        margin-bottom: 1.2rem;
    }

}

.radio_group {
    margin-top: 1rem;
    @include flexbox(flex-start);
    flex-wrap: wrap;
    gap: 2rem;
}

.radio_btn {
    position: relative;
    overflow: hidden;
    background-color: var(--bg-white);
    padding: 1.5rem 4rem;
    box-shadow: 2px 3px 10px -5px rgba(0, 0, 0, 0.5);
    transition: transform .3s ease;

    input {
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
    }

    label {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: .9rem 0 0 2rem;
        font-size: .95rem;
        cursor: pointer;
        user-select: none;
    }

    &:active {
        transform: scale(.95);
    }
}

.input_group {
    @extend .radio_group;

    input,
    select {
        flex: 0 0 40%;
        padding: 1rem 1rem;
        background-color: var(--bg-white);
        box-shadow: 2px 3px 10px -5px rgba(0, 0, 0, 0.5);
        font-size: 1rem;
    }
}

.login_msg {

    a {
        color: var(--main-color-3);
        font-weight: 600;

        &:hover {
            color: var(--main-color);
        }
    }

}

.listing_btn {
    margin-top: 2rem;

    button {
        font-size: 1rem;
        padding: .8rem 2rem;
    }
}
/*--====== /Listing Ends ======--*/